

<div class="error">
  <h1 class="error__title">
    <p>Villa kom upp </p>
  </h1>
  <h1 class="error__title">
    <p>รณ neiiiiiiii......</p>
  </h1>
  <p class="error__text" style="text-align: center; margin-top: 1rem;"><a href="/">Til baka</a></p>
</div>
