<h3>Velkmin á NESFLIX</h3>
<a href="/admin">Innskráning</a>
<h3>Skráður notandi</h3>
<a href="/users">Innskráning </a>
<h3>Nýskrá</h3>
<a href="/register">Nýskráning </a>

<!--Birta öll gögn (20 seríur)-->
