
<h1>Innskráning</h1>

<form method="post" action="/login-admin" enctype="application/x-www-form-urlencoded">
    <div class=login>
        <div class="input-username">
            <label for="username">Notendanafn</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="input-password">
            <label for="password">Lykilorð</label>
            <input type="password" name="password" id="password">
        </div>
        <button> Innskráning</button>
    </div>
</form>