<h1>Innskráning</h1>

<form method="post" action="/register" enctype="application/x-www-form-urlencoded">
    <div class=login>
        <div class="input-username">
            <label for="username">Veldu notendanafn</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="input-password">
            <label for="password">Lykilorð</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="input-email">
            <label for="email">Netfang</label>
            <input type="email" name="email" id="email">
        </div>
        
        <button> Nýskráning</button>
    </div>
</form>